<!-- <div class="container"> -->
    <nav class="nav">

            <a class="nav-link active" href="">Home</a>
            <a class="nav-link" href="addRecipe">Add Recipe</a>
            <a id="login" class="nav-link active" href="">
                Login
                <fa-icon [icon]="faUserCircle"></fa-icon>
            </a>

 
        <!--     <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </nav>
<!-- 
</div> -->