
a {
    margin-left: 20px;
    color:white;

}
 nav {
    background-color: rgb(114, 81, 145);
    font-style: italic;
    height: 50px;
    align-items: center;
 }

 #login {
     position: relative;
     left: 80%;
 }

